<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <style>
      .home {
        padding-right: 600px;
      }
    </style>
    <title>insta485</title>
  </head>
  <body>
    <div>
    <a href="/" class="home">{{text}}</a>
    <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
      <input type="text" name="username" required/>
      <input type="password" name="password" required/>
      <input type="submit" value="login"/>
      <input type="hidden" name="operation" value="login"/>
    </form>
    <p>Don't have an account?</p>
    <a href="/accounts/create/"> Sign up</a>
    </div>
  </body>
</html>
